body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #008a5c;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #99fcde;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#currentDateTime {
    margin-bottom: 20px;
}

#relatorio {
    margin-top: 20px;
}